.Header {
  background-color: blue;
  height: 140px;
  color: yellow;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.HeaderIcon {
  height: 120px;
  position: absolute;
  top: 0px;
  display: flex;
  margin: 10px;
}
.projectButton {
  position: relative;
  left: 200px;
  top: -90px;
}

.About {
  position: relative;
  left: 350px;
  top: -150px;
}

.Contact {
  position: relative;
  left: 500px;
  top: -210px;
}

.IconLink {
  right: 0px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-shrink: 1;
}
