.Header {
  background-color: blue;
  height: 140px;
  color: yellow;
  width: 100%;
  align-items: center;
}
.HeaderIcon {
  height: 140px;
}
.projectButton {
  position: relative;
  left: 200px;
  top: -90px;
}

.About {
  position: relative;
  left: 350px;
  top: -150px;
}

.Contact {
  position: relative;
  left: 500px;
  top: -210px;
}
