.Header {
  background-color: blue;
  height: 140px;
  color: yellow;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.HeaderIcon {
  height: 140px;
  position: absolute;
  top: -10px;
  display: flex;
}
.projectButton {
  position: relative;
  left: 200px;
  top: -90px;
}

.About {
  position: relative;
  left: 350px;
  top: -150px;
}

.Contact {
  position: relative;
  left: 500px;
  top: -210px;
}

.IconLink {
  right: -600px;
  position: relative;
}
