.App {
  text-align: center;
}

.Footer {
  background-color: black;
  height: 200px;
  color: white;
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.ItemPlacement{
left: 40%;
position: relative;
}
.LogoPlacement{
  left: 40%;
  position: relative;
  }
.profilePic {
  position: absolute;
  top: 145px;
  right: 1px;
  height: 30%;
  box-shadow: 0 10px 20px rgba(75, 48, 230, 0.19),
    0 6px 6px rgba(68, 226, 29, 0.23);
}
.profileHeader {
  background: linear-gradient(45deg, #ccffff, #ffcccc);
}
