.App {
  text-align: center;
}

.Footer {
  background-color: black;
  height: 200px;
  color: white;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.profilePic {
  position: absolute;
  top: 145px;
  right: 1px;
  height: 10%;
}
