.App {
  text-align: center;
}

.Footer {
  background-color: rgb(229, 229, 238);
  height: 120px;
  color: rgb(20, 19, 19);
  bottom: 0px;
  position: relative;
  width: 100%;
  display: block;

}

.ItemPlacement{
  display: block;
  text-align: center;
  margin: 0px 10px 20px 0px;
}

.LogoPlacement{
  text-align: center;
}
.profileHero{
  min-height: 100%;
}
.LinkText{
  color: #ccffff;
  margin: 0px 10px;
  text-decoration: auto;
  font-weight: 700;
  font-family: "GT Walsheim", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.profilePic {
  position: absolute;
  top: 140px;
  right: 1px;
  height: 30%;
  box-shadow: 0 10px 20px rgba(75, 48, 230, 0.19),
    0 6px 6px rgba(68, 226, 29, 0.23);
}

.profileHeader {
  background: linear-gradient(45deg, #ccffff, #ffcccc);
  height: 780px;
  padding: 10px;
}

@media only screen and (max-width: 400px) {
  .profilePic {
    top: 255px;   
  }
}